 header img{
    width: 20%;
    margin:20px;
    background-color: bisque;
}
body{
    background-color: whitesmoke;
}
 header nav ul li {
    float: right;
    display: inline;
    margin-right: 20px;
}
nav ul {
    padding-bottom: 20px;
}
main h1{
    padding-top: 10px;
}

main img{
    width:100% ;
}
main ol li{
    
    line-height: 2.5;
}

footer {
   padding-top: 10px;
    text-align: center;
    background-color:rgb(121, 109, 236);
    color: white;
}